# Python virtual environments
.venv/
venv/
ENV/
env/
.conda/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
dataset/

# Local
logs/
node_modules/
uploads/
dataset/
client/dist/
sessions/
.env
.env.local
*.log

# macOS
.DS_Store
